<header>
    <h2>How was your day?</h2>
</header>
<form [formGroup]='form' (ngSubmit)='onSubmit(form.value)' >
    <ul>
        <li class='form-group'>
            <label for="name">Date</label>
            <input type="text" name="date" id="date" formControlName='date'>
        </li>
        <li>
            <label for="category">General Mood</label>
            <select name="generalMood" id="generalMood" formControlName='generalMood'>
                <option value="Very Bad">Very Bad</option>
                <option value="Bad">Bad</option>
                <option value="Normal">Normal</option>
                <option value="Good">Good</option>
                <option value="Very Good">Very Good</option>
            </select>
            </li>
        <li>
        <li>
            <label for="timeOfDay">timeOfDay</label>
            <select name='timeOfDay' id='timeOfDay' formControlName='timeOfDay' >
                <option *ngFor='let medium of lookupLists.timeOfDay' value="{{timeOfDay}}">{{timeOfDay}}</option>
            </select>
            </li>
        <li>
            <label for="name">Appetite</label>
            <input type="text" name="appetite" id="appetite" formControlName='appetite'>
        </li>
        <li>
            <label for="name">Sleep</label>
        </li>
        <li>
        <label for="name">Pleasure Capacity</label>
            <input type="text" name="pleasureCapacity" id="pleasureCapacity" formControlName='pleasureCapacity'>
        </li>
        <li>
            <label for="name">Energy Level</label>
            <input type="text" name="energyLevel" id="energyLevel" formControlName='energyLevel'>
        </li>
        <li>
            <label for="name">Motivation</label>
            <input type="text" name="motivation" id="motivation" formControlName='motivation'>
            <div *ngIf='form.controls.motivation.errors?.pattern' class='errors'>
                Must be between {{form.controls.year.errors?.year.min}}
                and Must be between {{form.controls.year.errors?.year.max}}
            </div>
        </li>
        <li>
            <label for="name">Self Worth</label>
            <input type="text" name="selfWorth" id="selfWorth" formControlName='selfWorth'>
        </li>
        <li>
            <label for="name">Concentration</label>
            <input type="text" name="concentration" id="concentration" formControlName='concentration'>
            </li>
        <li>
            <label for="name">Ext Stressors</label>
        </li>
        <li>
            <label for="name">sleepQuality</label>
            <input type="text" name="sleepQuality" id="sleepQuality" formControlName='sleepQuality'>
        </li>
        <li>
            <label for="name">sleepDifficulty</label>
            <input type="text" name="sleepDifficulty" id="sleepDifficulty" formControlName='sleepDifficulty'>
        </li>
        <li>
            <label for="name">sleepDreamIntensity</label>
            <input type="text" name="sleepDreamIntensity" id="sleepDreamIntensity" formControlName='sleepDreamIntensity'>
        </li>
        <li>
            <label for="name">sleepParalysis</label>
            <input type="text" name="sleepParalysis" id="sleepParalysis" formControlName='sleepParalysis'>
            </li>
            <li>
            <label for="name">sleepNotes</label>
            <input type="text" name="sleepNotes" id="sleepNotes" formControlName='sleepNotes'>
        </li>
        <li>
            <label for="name">AdditionalNotes</label>
            <input type="text" name="additionalNotes" id="additionalNotes" formControlName='additionalNotes'>
        </li>
        <li>
            <label for="name">sleepParalysis</label>
            <input type="text" name="sleepParalysis" id="sleepParalysis" formControlName='sleepParalysis'>
            </li>
            <li>
            <label for="name">stressEvents</label>
        </li>
        <li>
            <label for="name">dietaryNotes</label>
            <input type="text" name="dietaryNotes" id="dietaryNotes" formControlName='dietaryNotes'>
        </li>
    </ul>
    <button type="submit" [disabled]="!form.valid">Save</button>
    </form>