<table class='table table-hover'>
    <thead>
        <tr>
            <td style='width: 30px;'><b>Date</b></td>
            <td><b>General Mood</b></td>
            <td><b>Appetite</b></td>
            <td><b>Sleep</b></td>
                <!--<tr>
                    <td>sleepQuality</td>
                    <td>sleepDifficulty</td>
                    <td>sleepDreams</td>
                    <td>sleepParalysis</td>
                    <td>sleepNotes</td>
                </tr>-->
            <td><b>Capacity for Pleasure</b></td>
            <td><b>Energy Leve</b></td>
            <td><b>Motivation</b></td>
            <td><b>Self Worth</b></td>
            <td><b>Concentration</b></td>
            <td><b>Ext. Stressors</b></td>
               <!-- <tr>
                    <td>dietaryNotes</td>
                    <td>stressEvents</td>
                    <td>percievedMoodInfluence</td>
                </tr>-->
            <td><b>Additional Notes</b></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="#v of moods" (click)="onSelect(v)">   
            <td>{{v.date}}</td>  
            <td>{{v.generalMood}}</td> 
            <td>{{v.apetite}}</td>
            <td>{{v.sleep}}</td>
               <!-- <tr>
                    <td>{{v.sleepQuality}}</td>
                    <td>{{v.sleepDifficulty}}</td>
                    <td>{{v.sleepDreams}}</td>
                    <td>{{v.sleepParalysis}}</td>
                    <td>{{v.sleepNotes}}</td>
                </tr>-->
            <td>{{v.pleasureCapacity}}</td>
            <td>{{v.energyLevel}}</td>
            <td>{{v.motivation}}</td>
            <td>{{v.selfWorth}}</td>
            <td>{{v.concentration}}</td>
            <td>{{v.extStressors}}</td>
               <!-- <tr>
                    <td>{{v.dietaryNotes}}</td>
                    <td>{{v.stressEvents}}</td>
                    <td>{{v.percievedMoodInfluence}}</td>
                </tr>-->
            <td>{{v.additionalNotes}}</td>
        </tr>
    </tbody>
</table>
